*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    border-radius: 10px;
overflow: hidden;
   
}
.container{
    height: 200px;
    width: 30%;
    position: absolute;
    top: 30%;
    right: 35%;
    background: rgba( 255, 255, 255, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 1px );
-webkit-backdrop-filter: blur( 1px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
border-radius: 10px;
overflow: hidden;
box-shadow: 0 0 50px 15px #5c12b0;
}
body::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 400px;
    background: linear-gradient(0deg,transparent
    ,transparent,#3d0689,#6262c5,#8c55bc);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    border-radius: 50%;
}
body::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 400px;
    background: linear-gradient(0deg,transparent,transparent,#78ac09,#429b2e,#4e7d38);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
    border-radius: 50%;
}
.border-line{
    position: absolute;
    top: 0;
    inset: 0;
}
.border-line::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 400px;
    background: linear-gradient(0deg,transparent,transparent,#ff00bb,#ff00bb,#ff00bb);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
    border-radius: 50%;
}
.border-line::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 400px;
    background: linear-gradient(0deg,transparent,transparent,#ff00bb,#ff00bb,#ff00bb);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
    border-radius: 50%;
}
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
#clock{
    color: white;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 20%;
    font-family: "Orbitron", sans-serif;
}
#date_time{
    color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 35%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#day{
    color: white;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 25%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}